<!doctype html>
<!-- All links relating to policeroleplay.community is still my property. The site is for a game I've made, and I felt it was easier to just use the bootstrap froom there. -->
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://policeroleplay.community/img/favicon.png" type="image/png">
        <title>Home</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://policeroleplay.community/css/bootstrap.css">
        <link rel="stylesheet" href="https://policeroleplay.community/vendors/linericon/style.css">
        <link rel="stylesheet" href="https://policeroleplay.community/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://policeroleplay.community/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="https://policeroleplay.community/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="https://policeroleplay.community/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="https://policeroleplay.community/vendors/animate-css/animate.css">
        <link rel="stylesheet" href="https://policeroleplay.community/vendors/popup/magnific-popup.css">
        <link rel="stylesheet" href="https://policeroleplay.community/vendors/flaticon/flaticon.css">
        <!-- main css -->
        <link rel="stylesheet" href="https://policeroleplay.community/css/style.css">
        <link rel="stylesheet" href="https://policeroleplay.community/css/responsive.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area navbar_fixed">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <div class="container box_1620">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><img src="https://policeroleplay.community/img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item"><a class="nav-link active" href="#home" data-click="scroll-to-target">Home</a></li> 
                                <li class="nav-item"><a class="nav-link active" href="#about" data-click="scroll-to-target">Login</a></li> 
                                <li class="nav-item"><a class="nav-link active" href="#games" data-click="scroll-to-target">Edit</a>
                                <!--<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
                            </ul>
                        </div> 
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
      
        <!--================End Home Banner Area =================-->
        
        <!--================Feature Area =================-->
        <section class="feature_area" id="games">
            <div class="left_feature">
                <div class="f_item">
                    <h4><i class="flaticon-city"></i>Shawn Edouard</h4>
                    <p>Description I will get from site.</p>
                </div>
                <!--<div class="f_item">
                    <h4><i class="flaticon-city"></i> Architecture</h4>
                    <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.</p>
                </div>-->
            </div>
            <div class="right_feature" id="pfp">
                
            </div>
        </section>
        <!--================End Feature Area =================-->
        
        
    
        
        <!--================ start footer Area  =================-->    
        <footer class="footer-area p_120">
            <!--<div class="container">
                <div class="single-footer-widget footer_middle">
                    <h6 class="footer_title">Newsletter</h6>
                    <p>Stay updated with our latest trends</p>      
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>     
                            </div>                                  
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>-->
                <div class="footer-bottom footer_copy">
                    <p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
    </br>
    </br>
 <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </footer>
        <!--================ End footer Area  =================-->
        
        <script>
          $.get("/users/userByEmail?email=s@no.com", function(val) {
            //<img src="https://policeroleplay.community/img/feature-1.jpg" width = "70%" alt="">
            const img = val.getImgURL();
            $("#pfp").append("<img src =\"" + img + "\"width = \"70%\" alt=\"\">");
          });
        </script>
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
        <script src="https://policeroleplay.community/j/popper.js"></script>
        <script src="https://policeroleplay.community/j/bootstrap.min.js"></script>
        <script src="https://policeroleplay.community/j/stellar.js"></script>
        <script src="https://policeroleplay.community/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="https://policeroleplay.community/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="https://policeroleplay.community/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="https://policeroleplay.community/vendors/isotope/isotope-min.js"></script>
        <script src="https://policeroleplay.community/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="https://policeroleplay.community/j/jquery.ajaxchimp.min.js"></script>
        <script src="https://policeroleplay.community/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="https://policeroleplay.community/vendors/counter-up/jquery.counterup.min.js"></script>
        <script src="https://policeroleplay.community/j/mail-script.js"></script>
        <script src="https://policeroleplay.community/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="https://policeroleplay.community/vendors/scroll/jquery.nicescroll.min.js"></script>
        <script src="https://policeroleplay.community/j/theme.js"></script>
    </body>
</html>